.form-hone {
    text-align: center;
}

.center-one {
    width: 30%;
    margin: 25px auto;
}

.grid-one {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}